.user-profile {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .customer-details {
    margin-top: 20px;
  }
  
  .customer-details p {
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-pic-edit {
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }
  